body, p{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-around;
  width: 13%;
  margin-left: auto;
  padding: 1.5em;
}
a{
  text-decoration: none;
  color: #000
}
a:hover{
  text-decoration: underline;
}
nav img{
  height: 20px;
}
main{
  width: 50%;
  margin: 5em auto;
  text-align: center;
}
input{
  width: 80%;
  padding: 1em;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
}
.btn_container{
  margin-top: 1em;
}
.btn_container button{
  padding: 1em;
  border: none;
}
.lang{
  margin: 2em 3em;
}
.lang span{
  margin: auto .2em;
}
footer{
  background-color: #eee;
}
.footer_top{
  padding: 1em;
}
.footer_bottom{
  display: flex;
  padding: 1em;
  justify-content: space-between;
  border-top: 1px solid gray;
}
.left a{
  margin-left: 1em;
}
.right a{
  margin-right: 1em;
}